* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
  }
  .container {
    border: 1px solid #000000;
    padding: 25px;
    padding-bottom: 60px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  header h2 {
    text-align: left;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul li {
    font-weight: bold;
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  .main-title,
  .subtitle,
  h1 {
    text-align: center;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .projects,
  .work-experience,
  .education {
    width: 100%;
    border: 1px solid #000000;
  }
  .projects h3,
  .work-experience h3 {
    padding-left: 20px;
    padding-top: 20px;
  }
  .projects ul {
    text-align: center;
  }
  .education {
    padding:20px;
  }
  .education h3 {
    padding-bottom: 20px;
  }
  .education h4 {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .projects ul li {
    display: block;
    margin: 0px 0;
    border-bottom: 1px solid #000000;
  }
  .projects ul li:last-child {
    border-bottom: none;
  }
  .work-experience ul,
  .education ul {
    list-style: none;
  }
  .projects li,
  .work-experience li {
    padding: 20px;
    border-bottom: 1px solid #000000;
  }
  .reviews-container {
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
  }
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .review {
    border: 1px solid #000000;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
  }
  .career{
    color: rgb(186, 186, 186);
  }
  footer {
    text-align: center;
    margin-top: 20px;
  }
  @media (min-width: 768px) {
    .content {
      display: flex;
      justify-content: space-between;
    }
    .projects {
      width: 30%;
    }
    .work-experience {
      width: 35%;
    }
    .education {
      width: 30%;
    }
    .review {
      width: calc(33.33% - 10px);
    }
  }
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
    nav ul {
      flex-direction: row;
      width: 100%;
    }
    nav ul li {
      margin-left: 0;
      margin-bottom: 10px;
      padding: 10px;
    }
    .work-experience h3,
    .projects h3 {
      border-bottom: 1px solid #000000;
      text-align: center;
      padding-bottom:20px ;
    }
    .work-experience ul li,
    .projects ul li {
      background-color: rgb(248, 247, 255);
    }
  }